<!-- wp:template-part {"slug":"main-header","theme":"fse-fashion-store","tagName":"header","className":"front-header"} /-->


<!-- wp:group {"tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group">  
  <!-- wp:pattern {"slug":"fse-fashion-store/main-banner"} /-->
  <!-- wp:pattern {"slug":"fse-fashion-store/featured-products"} /-->
  <!-- wp:pattern {"slug":"fse-fashion-store/blog-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-fashion-store","tagName":"footer"} /-->